/*
 * General
 * --------------------------------------------------
 */
body {
  position: relative;
}

/*
 * Header
 * --------------------------------------------------
 */
.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: rgba(255,255,255,0.95);
}

/*
 * Section
 * --------------------------------------------------
*/
.sections {
  position: relative;
  /*overflow-y: scroll;*/
}
.section {
  padding-top: 100px;
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
}

.items {
  list-style: none;
}
