/*
 * General
 * --------------------------------------------------
 */
body {
  position: relative;
}

/*
 * Header
 * --------------------------------------------------
 */
#header {
  z-index: 1;
  /*width: 100%;*/
  padding: 5px;
  background-color: rgba(255,255,255,0.95);
}
#nav {
  max-width: 768px;
  margin: 0 auto;
}
.nav-item {
  min-width: 120px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #0056b3;
}
/*
 * Section
 * --------------------------------------------------
*/
#sections {
}
.section {
  padding-top: 95px;
  padding-bottom: 5px;
}
.items {
  list-style: none;
  -webkit-padding-start: 0;
}
/*
 * Item
 * --------------------------------------------------
*/
.item {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
}
.item img {
  float: right;
}
.item p {
  margin-bottom: 10px;
}
.item img {
  padding-left: 5px;
}
.about {
  margin-top: 25px;
}
.author_name {
  color: #6c757d;
}
/*
 * Footer
 * --------------------------------------------------
 */
#footer {
}

