/*
 * General
 * --------------------------------------------------
 */
body {
  position: relative;
}
.center {
  left: 0;
  right: 0;
  margin: auto;
}
.clear {
  clear: both;
}
/*
 * Header
 * --------------------------------------------------
 */
#header {
  z-index: 1;
  /* width: 100%; */
  padding: 5px;
  background-color: rgba(255,255,255,0.95);
}
#nav {
  max-width: 768px;
  margin: 0 auto;
  font-size: .9rem;
}
.nav {
  flex-wrap: nowrap;
}
.nav-link {
  padding: .5rem .75rem;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #0056b3;
}
/*
https://iamsteve.me/blog/entry/horizontal-scrolling-responsive-menu
*/
.scroll {
  white-space: nowrap !important;
  overflow-x: auto !important;
  -webkit-overflow-scrolling: touch !important;
  -ms-overflow-style: -ms-autohiding-scrollbar !important;
}
.scroll::-webkit-scrollbar {
  display: none !important;
}
/*
 * Section
 * --------------------------------------------------
*/
#sections {
}
.section {
  padding-top: 75px;
  padding-bottom: 5px;
}
.items {
  list-style: none;
  -webkit-padding-start: 0;
}
/*
 * Item
 * --------------------------------------------------
*/
.item {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
}
.item img {
  float: right;
}
.item p {
  margin-bottom: 10px;
}
.item img {
  padding-left: 5px;
}
.about {
  margin-top: 25px;
}
.author_name {
  color: #6c757d;
}
/*
 * Footer
 * --------------------------------------------------
 */
#footer {
}

@media (prefers-color-scheme: dark) {
  body {
    background: #202224;
    color: #eee;
  }
  #header {
    background-color: rgba(32,34,36,0.95);
  }
}
